
     
    <div *ngIf="searchResults">
      <div *ngFor="let flight of searchResults.flightData" class="card">
        <div class="card-content">
    
          <!-- Informacje o locie: skąd, dokąd, godziny -->
          <div class="flight-info">
            <div class="flight-info-left">
              <div class="card-title">{{ flight.overallRoute.from }}  -> {{ flight.overallRoute.to }} </div>
              <p>{{ flight.departureTime | date:'HH:mm' }}</p>
          <p>{{ flight.arrivalTime | date:'HH:mm' }}</p>
              <span *ngIf="flight.hasStopover">Przesiadka: {{ flight.stopoverLocation }}</span>
            </div>
            
            <!-- Cena lotu -->
            <div class="flight-info-right">
              <p>Cena: {{ flight.price }} EUR</p>
            </div>
          </div>
    
          <!-- Czas trwania i trasa lotu -->
          <div class="flight-details">
            <p>Czas trwania: {{ flight.duration }}</p>
            
            <h4>Trasa lotu:</h4>
            <ul>
              <li *ngFor="let route of flight.fullRoute">
                {{ route.from }} -> {{ route.to }} ({{ route.duration }})
                <span *ngIf="route.stopover"> - Przesiadka w {{ route.stopover }}</span>
              </li>
            </ul>
          </div>
    
        </div>
      </div>
    </div>
    
    <div *ngIf="!searchResults" class="card">
      <div class="card-title">Brak wyników wyszukiwania</div>
    </div> 
    
      



     
    


    
    