.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px; 
    background-image: url('../../../assets/header.png');
    color: #ffffff; 
    background-position: center;
   
  }
  
  .back-arrow a {
    color: #252668;       
    text-decoration: none; 
    font-size: 15px;      
}

.back-arrow i {
    font-size: 24px;     
    margin-right: 10px;   
}
  
  .fa-long-arrow-left {
    color: #252668;
    
}

  .logo img {
    max-width: 200px; 
    height: auto; 
  }

  h1{
    font-size: 1.6rem;
    color: #252668;
    font-weight: bold;
    margin-top: 5%;
    
  }

  p{
    font-size: 1rem;
    color: #252668;
    font-weight: normal;
    
  }

  .content {
    display: flex;
}

.left-content,
.right-content {
    flex: 1;
    padding: 20px ; 
    text-align: center; 
}


.window-info {
  width: 100vw;
  height: auto;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
}

.search-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 5px);
  margin-right: 10px;
}

.data-item:last-child {
  margin-right: 0;
}

.city-container {
  display: flex;
  align-items: center;
}

.airplane-icon {
  margin: 0 10px;
  color: #ff8c00;
}

.city {
  color: #252668;
  font-size: 20px;
  font-weight: bold;
}

.sub-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.date-adults {
  display: flex; 
  align-items: center;
}

.separator {
  margin: 0 20px; 
  color:#ff8c00;
 
}

.data-style, .passenger {
  color: #9d9d9d;
  font-size: 15px;
}
